<!-- navbar.html -->
<link rel="stylesheet" href="assets/css/navbar.css">

<header>
    <div id="left-menu-items">
        <nav id="logo-container">
            <img id="logo" src="../../assets/img/logo.png" alt="Site Logo" />
            <span id="logo-name">My Website</span>
        </nav>
        <nav id="menu-container">
            <a class="menu-items" href="/src/views/admin/order_management.html">Orders</a>
            <a class="menu-items" href="/src/views/profile.html">Profile</a>
            <a class="menu-items" href="/src/views/admin/comment.html">Comments</a>
            <a class="menu-items" href="/src/views/admin/admin.html">Admin</a>
        </nav>
    </div>
    <div id="right-menu-items">
        <a href="index.html" class="menu-items loggedIn">Logout</a>
    </div>
</header>